<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.phpictureback.mapper.ForumMapper">

    <resultMap id="BaseResultMap" type="com.ph.phpictureback.model.entry.Forum">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="likeCount" column="likeCount" jdbcType="INTEGER"/>
            <result property="viewCount" column="viewCount" jdbcType="INTEGER"/>
            <result property="shareCount" column="shareCount" jdbcType="INTEGER"/>
            <result property="commentCount" column="commentCount" jdbcType="INTEGER"/>
            <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
            <result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        userId,category,likeCount,viewCount,
        shareCount,commentCount,reviewStatus,
        reviewMessage,reviewerId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
