<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.phpictureback.mapper.UserLikeMapper">

    <resultMap id="BaseResultMap" type="com.ph.phpictureback.model.entry.UserLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="targetType" column="targetType" jdbcType="TINYINT"/>
            <result property="likeShare" column="likeShare" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="likePic" column="likePic" jdbcType="VARCHAR"/>
            <result property="likePost" column="likePost" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,targetType,userId,likeShare,
        userName,userAvatar,likePic,
        likePost,createTime
    </sql>
</mapper>
